<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script>
      var ws;

      function adminChangeColor(color){
        ws.send("change: " + color);
      }
      function change(color){
        $("body").css("background-color", color);
      }

      function socket() {
        socket = new WebSocket("ws://ui.thoughtbot.com:9000");
        socket.onmessage = function(event) {
          console.log(event.data);
          var command = event.data.split(": ");
          var method = command[0];
          var param = command[1];
          window[method](param);
        };
        return socket;
      }

      function ping(time){
        console.log("ping: " + time);
      }

      function ping_loop(socket){
        setTimeout(function(){
          socket.send("ping: " + new Date());
          ping_loop(socket);
        }, 1000);
      }

      $(function($) {
        ws = socket();
        ping_loop(ws);

        alert("non-native!");
        navigator.notification.alert("native!");

        $('#send-change').submit(function() {
          color = $("#send-change-text").val();
          $("#send-change-text").val("");
          adminChangeColor(color);
          return false;
        });

      });

    </script>
  </head>
  <body style="background-color: green">
    <form id="send-change">
      <input type="text" id="send-change-text" />
      <input type="submit">
    </form>
  </body>
</html>

