<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="http://js.pusher.com/1.11/pusher.min.js"></script>
    <script src="application.js"></script>
  </head>
  <body style="background-color: white">
    <small><a href="#" id="show-admin" >Show Admin</a></small>
    <form id="send-change" style="display:none">
      <input type="text" id="send-change-text" />
      <input type="submit">
      <a href="#" id="random-color">Send Random Color</a>
    </form>
  </body>
</html>

