<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script>

      function change(color){
        $("body").css("background-color", color);
      }

      var ws;
      function socket() {
        socket = new WebSocket("ws://ui.thoughtbot.com:9000");
        socket.onmessage = function(event) {
          console.log(event.data);
          var command = event.data.split(": ");
          var method = command[0];
          var param = command[1];
          this[method](param);
        };
        return socket;
      }

      function ping(time){
        console.log("ping: " + time);
      }

      function ping_loop(socket){
        setTimeout(function(){
          socket.send("ping: " + new Time());
          ping_loop(socket);
        }, 1000);
      }

      $(function($) {
        ws = socket();
        ping_loop(ws);
      });
    </script>
  </head>
  <body style="background-color: green">


</body></html>

