<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script>

      function change(color){
        $("body").css("background-color", color);
      }

      var ws;
      function socket() {
        socket = new WebSocket("ws://ui.thoughtbot.com:9000");
        socket.onmessage = function(event) {
          console.log(event.data);
          change(event.data);
        };
        return socket;
      }

      $(function($) {
        ws = socket();
      });
    </script>
  </head>
  <body style="background-color: green">


</body></html>

